@font-face {
  font-family: "Berthold Akzidenz Grotesk BE Regular";
  src: url("/fonts/Berthold Akzidenz Grotesk BE Regular.otf");
}
@font-face {
  font-family: "Berthold Akzidenz Grotesk BE Bold";
  src: url("/fonts/Berthold Akzidenz Grotesk BE Bold.otf");
}
@font-face {
  font-family: "Berthold Akzidenz Grotesk BE Medium";
  src: url("/fonts/Berthold Akzidenz Grotesk BE Medium.otf");
}

* {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

h1,h2,h3 {
	font-family: "Berthold Akzidenz Grotesk BE Bold", sans-serif;
}

h1 {
	font-size: 24px;
}

p {
	font-family: "Berthold Akzidenz Grotesk BE Regular", sans-serif;
	font-size: 16px;
}

input, button, select, textarea {
	font-family: "Berthold Akzidenz Grotesk BE Regular", sans-serif;
}

input[type="text"] {
	font-family: "Berthold Akzidenz Grotesk BE Bold", sans-serif;
	width: 100%;
}

